<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.SnakeAndLadderGame" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.SnakeAndLadderGame" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SnakeAndLadderGame" />
    </application>

</manifest>
